$primary-color: #4a4e69;
$secondary-color: #c9ada7;
$white-transparent: #ffffff39;

*,
*::before,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	padding: 2rem 1rem;
	background-color: $primary-color;
}

p {
  max-width: 30ch;
  margin-bottom: 2rem;
  transition: transform 1s ease, opacity 1s ease;
  margin-inline: auto;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 4px 12px 0px #00000045;
  color: $secondary-color;
  background-color: $white-transparent;
  &:last-of-type {
	margin-bottom: 0;
  }
}
